/************** Misc. Formatting *************/

.center {
	text-align: center;
}

/********* Container to show widget in for demo  *****************/

.main-container {
	width: 100%;

}


.gallery-container {

	width: 600px;
	/*height: 600px;*/
	/* To center galleries in containing block element */
	margin: auto;
	padding: 15px 15px 15px 15px;

}
/************ Single Image Mode  *************************/

.single-img-gallery-container-none {

	height: auto;
	max-height: 600px;
	min-height: 100%;
	max-width: 600px;

}

.single-img {

	height: auto;
	/*min-height: 100%;*/
	max-height: 600px;
	width: 600px;
	
}

/*********** Thumbnail Mode Styles  **********************/

.large-img-container {

	height: auto;
	min-height: 100%;
	width: 600px;

	margin-bottom: 15px;

}

.large-img {

	max-width: 100%;
	height: auto;

}

.thumbnail-Img {
	max-width: 150px;
	height: auto;
	display: inline-block;
	overflow-x: scroll;
}

.thumbnail-container {

	overflow-y: hidden;
	overflow-x: scroll;
	/*height: 200px;*/
	white-space: nowrap;

}